<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuidditchRefTraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container bottomMargin">
        <!-- Topdiv -->
        @Html.ActionLink("Quidditch Ref Training", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Questions", "QuestionListing", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <a class="topRightImage" href="https://www.reddit.com/r/QuidditchRefTraining/" target="_blank"><img src="~/Elements/logo_reddit.png" width="124" height="47" /></a>
        <!-- Login/Profile links -->
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand topRightLink" })
        }
        else
        {
            @Html.ActionLink("Logout", "Disconnect", "Login", new { area = "" }, new { @class = "navbar-brand topRightLink" })
            @Html.ActionLink(HttpContext.Current.User.Identity.Name, "DisplayProfile", "Profile", new { area = "" }, new { @class = "navbar-brand topRightLink" })
        }
        <!-- Language selection box -->
        @using (Html.BeginForm("UpdateLanguage", "Home"))
        {
            List<SelectListItem> selectList = new List<SelectListItem>();
            foreach (string s in QRefTrain3.Helper.CultureHelper._cultures)
            {
                var selectItem = new SelectListItem();
                selectItem.Text = s;
                selectItem.Value = s;
                selectItem.Selected = QRefTrain3.Helper.CultureHelper.GetCurrentCulture() == s ? true : false;
                selectList.Add(selectItem);
            }
            @Html.DropDownList("languages", selectList, new { onchange = "form.submit()" })
        }

    </div>

    <div class="separator">
        <hr />
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <div class="footerText"><strong>@Resources.Resource.Homepage_ReminderBeta01</strong> @Resources.Resource.Homepage_ReminderBeta02 <a href="https://www.reddit.com/r/QuidditchRefTraining/" target="_blank">@Resources.Resource.Homepage_ReminderBeta03</a>.</div>
    </footer>
</body>
</html>