<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuidditchRefTraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container topitem">
        @Html.ActionLink("Quidditch Ref Training", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Questions", "QuestionListing", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <a class="topRightImage" href="https://www.reddit.com/r/QuidditchRefTraining/" target="_blank"><img src="~/Elements/logo_reddit.png" width="124" height="47"  /></a>
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand topRightLink" })
        }
        else
        {
            @Html.ActionLink(HttpContext.Current.User.Identity.Name, "DisplayProfile", "Profile", new { area = "" }, new { @class = "navbar-brand topRightLink" })
            @Html.ActionLink("Logout", "Disconnect", "Login", new { area = "" }, new { @class = "navbar-brand topRightLink" })
        }
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Last Update : Unknown</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>