@model QRefTrain3.Models.Question

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterQuestion</title>
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            <fieldset>
                <legend>Alter Question</legend>
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div>
                    @Html.LabelFor(model => model.Field)
                    @Html.TextBoxFor(model => model.Field)
                </div>
                <br />
                <input type="submit" value="Modifier" />
            </fieldset>
        }
    </div>
</body>
</html>
