<!-- Exam ongoing? -->
@model bool?
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <h5 class="bottomMargin">@QRefResources.Resource.Homepage_ParameterPrompt <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="@QRefResources.Resource.Homepage_Helper"></i></h5>
    <!-- If the user already has an exam test, offer a resume test button-->
    @if (Model.Value)
    {
        using (Html.BeginForm("ResumeTestQuiz", "Quiz"))
        {
            <input type="submit" value="@QRefResources.Resource.Homepage_ResumeQuiz" class="btn btn-primary" />
            <span class="field-validation-error">@ViewBag.ErrorQuiz</span>
        }
        using (Html.BeginForm("CancelTest", "Quiz"))
        {
            <div><input type="submit" value="@QRefResources.Resource.Cancel" class="btn btn-primary" /></div>
        }
    }
    else
    {
        using (Html.BeginForm("StartTrainingQuiz", "Quiz", FormMethod.Post))
        {

            <!-- NGB selection -->
            List<SelectListItem> ngbs = new List<SelectListItem>();
            foreach (QRefTrain3.Models.NationalGoverningBody item in Enum.GetValues(typeof(QRefTrain3.Models.NationalGoverningBody)))
            {
                ngbs.Add(new SelectListItem() { Text = QRefResources.Resource.ResourceManager.GetString("NGBs_" + item.ToString()), Value = item.ToString() });
            }

            if (Request.Cookies["RequestedNGB"] != null && Request.Cookies["RequestedNGB"].Value != "")
            {
                ngbs.FirstOrDefault(q => q.Value == Request.Cookies["RequestedNGB"].Value).Selected = true;
            }
            <div class="shortLabel bottomMargin">
                @Html.DropDownList("NGB", ngbs, new { @id = "NGBs" })
            </div>

            <div class="padding-top">
                <!-- Fields selection buttons -->
                <div class="btn-group-toggle bottomMargin" data-toggle="buttons">
                    @foreach (QRefTrain3.Models.QuestionSubject item in Enum.GetValues(typeof(QRefTrain3.Models.QuestionSubject)))
                    {
                        <label class="btn btn-secondary shortLabel">
                            <input type="checkbox" name="Subjects" value="@item.ToString()" />@QRefResources.Resource.ResourceManager.GetString("Subject_" + item.ToString())
                        </label>
                    }
                </div>

                <!-- Submit -->
                <input type="submit" value="@QRefResources.Resource.Homepage_StartQuizz" class="btn btn-primary" />
                <span class="field-validation-error">@ViewBag.ErrorQuiz</span>
            </div>
        }
        <hr />
        if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("StartTestQuiz", "Quiz"))
            {
                List<SelectListItem> selectList2 = new List<SelectListItem>();
                foreach (QRefTrain3.Models.NationalGoverningBody item in Enum.GetValues(typeof(QRefTrain3.Models.NationalGoverningBody)))
                {
                    if (item.ToString().Equals("All"))
                    {
                        continue;
                    }
                    selectList2.Add(new SelectListItem() { Text = QRefResources.Resource.ResourceManager.GetString("NGBs_" + item.ToString()), Value = item.ToString() });
                }

                <div class="bottomMargin">@Html.DropDownList("NGB", selectList2, new { onchange = "form.submit()" })</div>
                <div><input type="submit" value="@QRefResources.Resource.Homepage_StartExam" class="btn btn-primary" /></div>

            }

        }
        else
        {
            <div>@QRefResources.Resource.Homepage_MustBeConnected </div>
        }
    }
</body>
</html>