
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
</head>
<body>
    <h5 class="bottomMargin">@Resources.Resources.Homepage_ParameterPrompt</h5>
    <div class="padding-top">
        @using (Html.BeginForm("MovetoQuiz", "Home"))
        {
            <div class="btn-group-toggle" data-toggle="buttons">
                @foreach (QRefTrain3.Models.QuestionField item in Enum.GetValues(typeof(QRefTrain3.Models.QuestionField)))
                {
                <label class="btn btn-secondary shortLabel">
                    <input type="checkbox" name="Subjects" value="@item.ToString()" />@item.ToString()
                </label>
                }
            </div>

            <div class="btn-group-toggle" data-toggle="buttons">
                @foreach (QRefTrain3.Models.QuestionDifficulty item in Enum.GetValues(typeof(QRefTrain3.Models.QuestionDifficulty)))
                {
                    <label class="btn btn-secondary shortLabel">
                        <input type="checkbox" name="Difficulties" value="@item.ToString()" />@item.ToString()
                    </label>
                }
            </div>

            List<SelectListItem> ngbs = new List<SelectListItem>();
            foreach (QRefTrain3.Models.NationalGoverningBody item in Enum.GetValues(typeof(QRefTrain3.Models.NationalGoverningBody)))
            {
                ngbs.Add(new SelectListItem() { Text = item.ToString(), Value = item.ToString() });
            }
            <div class="flex-container bottomMargin shortLabel">
                @Html.DropDownList("NGBs", ngbs, new { @id = "NGBs" })
            </div>
            <input type="submit" value="Start the quizz" />
        }
    </div>
</body>
</html>