@model List<QRefTrain3.Models.Question>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <script>
        $(document).ready(function(){
            $("img").click(function () {
                if ($(this).attr('src') === "/Elements/expand_arrow.png") {
                    $(this).attr("src", "/Elements/collapse_arrow.png");
                    $('#hidden' + this.id).removeClass("hiddenInformations").addClass("displayedInformations");
                } else {
                    $(this).attr("src", "/Elements/expand_arrow.png");
                    $('#hidden' + this.id).removeClass("displayedInformations").addClass("hiddenInformations");
                }
            });
        });
    </script>

</head>
<body>
    

    @for(int i = 0; i < Model.Count; i++)
    {
        <table class="table-striped">
            <tbody>
                <tr>
                    <td class="col-md-1">@Model[i].Id  </td>
                    <td class="col-md-6">@Model[i].Name</td>
                    <td class="col-md-2">@Model[i].Field</td>
                </tr>
            </tbody>
        </table>
            <div><img id="@(i)" src="~/Elements/expand_arrow.png" height="30" width="30" /></div>
            <span class="hiddenInformations" id="@("hidden"+i)">
                <div>@Model[i].QuestionText</div>
                @if(@Model[i].IsVideo)
                {
                    <div class="QuizzQuestionVideoContainer">
                        <iframe class="QuizzQuestionVideo" id="ytplayer" type="text/html"
                                src="@Model[i].VideoURL"
                                frameborder="0"></iframe>
                    </div>
                }
                <div>
                    @for(int j = 0; j < Model[i].Answers.Count; j++)
                    {
                        <span class="answerCheckbox @(Model[i].Answers[j].IsTrue ? "goodAnswer" : "badAnswer")">@Model[i].Answers[j].Answertext</span>
                    }
                </div>
            </span>
    }


</body>

</html>
