@model QRefTrain3.ViewModel.QuizzViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quizz</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div>
        <!-- For each Question, display a new div with the Title, the question code, the question text, the video if there is one, then the possible answers depending on the type of answers-->
        @using (Html.BeginForm("QuizzResult", "Home"))
        {
            @Html.HiddenFor(m => Model.ResultType)
            for (int i = 0; i < Model.DisplayedQuestions.Count; i++)
            {
                @Html.HiddenFor(m => m.DisplayedQuestions[i].Id)
                <div class="QuizzQuestion">
                    <div class="QuizzQuestionTitle">@Model.DisplayedQuestions[i].Id : @Model.DisplayedQuestions[i].Name</div>
                    <div class="QuizzQuestiontext">@Model.DisplayedQuestions[i].QuestionText</div>
                    @if (@Model.DisplayedQuestions[i].IsVideo)
                    {
                        <div class="QuizzQuestionVideoContainer">
                            <iframe class="QuizzQuestionVideo" id="ytplayer" type="text/html"
                                    src="@Model.DisplayedQuestions[i].VideoURL"
                                    frameborder="0"></iframe>
                        </div>
                    }
                    @*@if (@Model.DisplayedQuestions[i].AnswerType == QRefTrain3.Models.AnswerType.SingleAnswer)
                    {
                        <div class="RadioButtonAnswers">
                            @for (int j = 0; j < Model.DisplayedQuestions[i].Answers.Count; j++)
                            {
                                @Model.DisplayedQuestions[i].Answers[j].AnswerText
                                @Html.RadioButtonFor(m => m.DisplayedQuestions[i].AnswersRadio, Model.DisplayedQuestions[i].Answers[j].Id)
                            }

                        </div>
                    }
                    else*@
                    @if (@Model.DisplayedQuestions[i].AnswerType == QRefTrain3.Models.AnswerType.MultipleAnswer)
                    {
                        <div class="RadioButtonAnswers">

                            @for (int j = 0; j < Model.DisplayedQuestions[i].Answers.Count; j++)
                            {
                            <div class="RadioButtonAnswer">
                                @Model.DisplayedQuestions[i].Answers[j].AnswerText
                                @Html.CheckBoxFor(m => m.DisplayedQuestions[i].Answers[j].IsSelected)
                                @Html.HiddenFor(m => m.DisplayedQuestions[i].Answers[j].AnswerText)
                                @Html.HiddenFor(m => m.DisplayedQuestions[i].Answers[j].Id)
                            </div>
                            }
                        </div>
                    }
                </div>
            }
            <input type="submit" value="Validate Answers" />
        }
    </div>
</body>
</html>
