@model QRefTrain3.ViewModel.QuizzViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quizz</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <!-- For each Question, display a new div with the Title, the question code, the question text, the video if there is one, then the possible answers depending on the type of answers-->
        @using (Html.BeginForm("QuizzResult", "Home"))
        {
            @Html.HiddenFor(m => Model.ResultType)
            for (int i = 0; i < Model.DisplayedQuestions.Count; i++)
            {
                @Html.HiddenFor(m => m.DisplayedQuestions[i].Id)
                <div class="QuizzQuestion">
                    <div class="QuizzQuestionTitle">@Model.DisplayedQuestions[i].Id : @Resources.Resource.ResourceManager.GetString(Model.DisplayedQuestions[i].Name)</div>
                    <h5 class="QuizzQuestiontext">@Resources.Resource.ResourceManager.GetString(Model.DisplayedQuestions[i].QuestionText)</h5>
                    @if (@Model.DisplayedQuestions[i].IsVideo)
                    {
                        <div class="QuizzQuestionVideoContainer">
                            <iframe class="QuizzQuestionVideo" id="ytplayer" type="text/html"
                                    src="@Model.DisplayedQuestions[i].VideoURL"
                                    frameborder="0"></iframe>
                        </div>
                    }
                    @if (@Model.DisplayedQuestions[i].AnswerType == QRefTrain3.Models.AnswerType.MultipleAnswer)
                    {
                        <div class="btn-group-toggle" data-toggle="buttons">

                            @for (int j = 0; j < Model.DisplayedQuestions[i].Answers.Count; j++)
                            {
                            <label class="btn btn-light longLabel">
                                @Html.CheckBoxFor(m => m.DisplayedQuestions[i].Answers[j].IsSelected)
                                @Resources.Resource.ResourceManager.GetString(Model.DisplayedQuestions[i].Answers[j].AnswerText)
                            </label>
                                @Html.HiddenFor(m => m.DisplayedQuestions[i].Answers[j].Id)
                            }
                        </div>
                    }
                </div>
                if(i != Model.DisplayedQuestions.Count -1)
                {
                    <hr />
                }
            }
            <input type="submit" value="@Resources.Resource.Quiz_ValidateAnswer" class="btn-lg btn-primary QuizzValidationButton" />
        }
    </div>
    <div class="bigBottomPadding"></div>
</body>
</html>
