@model List<QRefTrain3.ViewModel.ResultViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>

    <div class="flex-container">
        <div class="halfpageItem">
            <div class="tab">
                <button class="tablinks active" onclick="displayResults(event, 'trainingResultTable')">@Resource.Resource.Homepage_ParameterPrompt</button>
                <button class="tablinks" onclick="displayResults(event, 'officielResultTable')">@Resource.Resource.Homepage_TestPrompt</button>
            </div>

            <table id="trainingResultTable" class="table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Date</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-1">Passed</th>
                        <th class="col-md-1">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (QRefTrain3.ViewModel.ResultViewModel result in Model)
                    {
                        if (result.ResultType == QRefTrain3.Models.ResultType.Training)
                        {
                            <tr>
                                <td>@result.DateTime.ToString("dd/MM/yy")</td>
                                <td>@result.GetNumberGoodAnswer() / @result.QuestionsAsked.Count</td>
                                <td><img src="~/Elements/@(result.IsResultSuccesfull() ? "goodAnswer" : "badAnswer").jpg" height="30" width="30" /></td>
                                <td>@Html.ActionLink("Details", "DisplayResultDetails", new { id = result.Id })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <table id="officielResultTable" class="table-striped hiddenInformations">
                <thead>
                    <tr>
                        <th class="col-md-1">Date</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-1">Passed</th>
                        <th class="col-md-1">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (QRefTrain3.ViewModel.ResultViewModel result in Model)
                    {
                        if (result.ResultType == QRefTrain3.Models.ResultType.Exam)
                        {
                            <tr>
                                <td>@result.DateTime.ToString("dd/MM/yy")</td>
                                <td>@result.GetNumberGoodAnswer() / @result.QuestionsAsked.Count</td>
                                <td><img src="~/Elements/@(result.IsResultSuccesfull() ? "goodAnswer" : "badAnswer").jpg" height="30" width="30" /></td>
                                <td>@Html.ActionLink("Details", "DisplayResultDetails", new { id = result.Id })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div >
            averages
        </div>
    </div>
</body>
</html>

<script>
    function displayResults(evt, tabId) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByTagName("table");
        for (i = 0; i < tabcontent.length; i++) {
            if (!tabcontent[i].classList.contains("hiddenInformations")) {
                tabcontent[i].classList.add("hiddenInformations");
            }
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(tabId).classList.remove("hiddenInformations");
        evt.currentTarget.classList.add("active");
    }
</script>
