@model List<QRefTrain3.Models.Question>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quizz</title>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("CreateQuestionSuite", "QuestionSuite"))
    {
        <div class="form-horizontal">
            <divclass ="form-group">
                @Html.TextBox("name", null, new { placeholder = QRefResources.Resource.QuestionSuite_Name, @class = "control-label" })
            </divclass>
            <divclass ="form-group">
                @Html.TextBox("timeLimit", null, new { placeholder = QRefResources.Resource.QuestionSuite_TimeLimit, @class = "control-label" })
            </divclass>
        </div>
        foreach (QRefTrain3.Models.QuestionSubject subject in Enum.GetValues(typeof(QRefTrain3.Models.QuestionSubject)))
        {
            <div class="QuizzQuestionTitle">
                @QRefResources.Resource.ResourceManager.GetString("Subject_" + subject.ToString())
            </div>
            <hr />
            foreach (QRefTrain3.Models.Question q in Model)
            {
                if (q.Subject == subject)
                {
                    <div class="QuizzQuestionTitle">(@q.PublicId) @QRefResources.QuestionResource.ResourceManager.GetString(q.QuestionText)</div>
                    if (!String.IsNullOrEmpty(q.GifName))
                    {
                        /**
                         * Obsolete from when I used video
                        <div class="QuizzQuestionVideoContainer">
                            <iframe class="QuizzQuestionVideo" id="ytplayer" type="text/html"
                                    src="@Model.DisplayedQuestions[i].VideoURL"
                                    frameborder="0"></iframe>
                        </div>
                        **/

                        <iframe src='@q.GifName?autoplay=0' frameborder='0' scrolling='no' width='640' height='346'></iframe>

                    }
                    <div class="btn-group-toggle" data-toggle="buttons">
                        @foreach (QRefTrain3.Models.Answer a in q.Answers)
                        {
                            <label class="@(a.IsTrue ? "greenBack" : "greyBack") halfpageItem halfpageItemCollapse">
                                <span class="verticalCenter">@(QRefResources.QuestionResource.ResourceManager.GetString(a.Answertext) ?? "CODE:" + a.Answertext)</span>
                            </label>
                        }
                    </div>
                    <div>@QRefResources.QuestionResource.ResourceManager.GetString(q.AnswerExplanation)</div>
                    <input type="checkbox" name="questionIds" value="@q.Id.ToString()" />
                    <div class="bigBottomPadding"></div>
                }
            }
        }
        <input id="submit" type="submit" value="@QRefResources.Resource.Submit" class="btn-lg btn-primary QuizzValidationButton" />
    }
    <div class="bigBottomPadding"></div>
</body>
</html>