@model QRefTrain3.ViewModel.UserViewModel

@if (Model.IsAutenthified)
{
    <h3>
        @Resources.Resource.Login_AlreadyConnected
        @Model.User.Name
    </h3>
    @Html.ActionLink(@Resources.Resource.Login_DisconnectPrompt, "Disconnect")
}
else
{
    using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>@Resources.Resource.Login_EnterInformationPrompt</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.User.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.User.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.User.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value=@Resources.Resource.Login />
            </div>
        </div>
        <br />
        @Html.ActionLink(Resources.Resource.Login_Resetpassword, "Login", "ResetPassword")
    }
}