@model QRefTrain3.ViewModel.UserViewModel

@if(Model.IsAutenthified)
{
    <h3>
        You are already connected as :
        @Model.User.Name
    </h3>
    @Html.ActionLink("Do you want to disconnect", "Disconnect")
}
else
{
    using(Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>Please enter your informations.</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.User.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.User.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.User.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
        <br />
        @Html.ActionLink("Create an account", "CreateAccount")
    }
}